html {
  font-size: $mainFontSize;
}
// Full size webpage
body {
  overflow: hidden;
  background-color: $bodyBg;
  background-image: url("../images/desktop/bg-pattern-dots.svg"),
    url("../images/desktop/image-host.jpg");
  background-repeat: no-repeat, no-repeat;
  background-size: 16.111vw, 66.806vw;
  background-origin: content-box, content-box;
  background-position: bottom 9.028vw right, top 50% right;
  font-family: $fontFamily;
  height: 100vh;
  box-sizing: border-box;
  @media (max-width: 991px) {
    background-image: url("../images/desktop/bg-pattern-dots.svg"),
      url("../images/tablet/image-host.jpg");
    background-repeat: no-repeat, no-repeat;
    background-origin: content-box, content-box;
    background-position: bottom left 40px, top right;
    background-size: 232px, 491px;
  }
  @media (max-width: 475px) {
    background-image: url("../images/mobile/image-host.jpg");
    background-repeat: no-repeat;
    background-position: top right;
    background-size: cover;
  }
}
main {
}

// Attribution to author and Frontend Mentor platform
.attribution {
  background-color: rgba(255, 255, 255, 0.6);
  color: $attr_text-color;
  font-size: 11px;
  text-align: center;
  position: absolute;
  width: 200px;
  padding: 12px;
  height: auto;
  bottom: 40px;
  right: 40px;
  z-index: 1;
  cursor: pointer;
  border-radius: 12px;
  transition: all 0.3s ease 0s;
  box-shadow: 4px 4px 32px rgba(0, 0, 0, 0.2);
  transform: scale(0.5);
  filter: blur(2px);
  &:hover {
    filter: blur(0);
    background-color: rgba(255, 255, 255, 1);
    transform: scale(1.5);
    transform-origin: 160px 40px;
  }
  &__by {
    color: $attr_span;
  }
  &__text {
    margin-bottom: 4px;
    a {
      color: $attr_text-color;
      transition: all 0.5s ease 0s;
      text-decoration: none;
      &:hover {
        color: #0061cc;
      }
    }
  }
  @media (max-width: 991px) {
    display: none;
  }
}
.grifano-logo {
  display: inline-block;
  border-radius: 2px;
  padding: 4px 4px 2px 4px;
  color: $attr_grifano-color;
  background-color: #0061cc;
  span {
    color: #d07f15;
    background-color: #0061cc;
  }
}

// Container
.container {
  margin-left: 165px;
  @media (max-width: 768px) {
    padding: 0 40px;
    margin: 0;
  }
  @media (max-width: 475px) {
    padding: 0 24px;
  }
  &__flex {
    display: flex;
    flex-direction: column;
  }
}

// Header
header {
  padding-top: 9.028vw;
  @media (max-width: 991px) {
    padding-top: 50px;
  }
  @media (max-width: 475px) {
    padding-top: 62px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.9);
  }
}
// UI control
.show {
  visibility: visible !important;
  opacity: 100% !important;
}
.error-msg {
  order: 4;
  display: block;
  color: #fb3e3e;
  font-size: 12px;
  line-height: 14px;
  margin-left: 32px;
  margin-bottom: 8px;
  visibility: hidden;
  opacity: 0;
  transition: all 0.3s ease 0s;
  @media (max-width: 475px) {
    order: 2;
  }
  @media (min-width: 475px) {
    position: absolute;
    bottom: -8px;
    left: 0;
  }
}
.tooltip {
  visibility: hidden;
  opacity: 0;
  width: 80%;
  position: absolute;
  top: -70%;
  left: 50%;
  transform: translateX(-50%);
  box-shadow: 0px 4px 8px rgba(124, 135, 152, 0.2);
  transition: all 0.3s ease 0s;
  &__msg {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 15px;
    font-weight: 700;
    line-height: 19px;
    padding: 12px 24px;
    background: $bodyBg;
    border-radius: 15px;
    text-align: center;
    color: $whiteColor;
    outline: none;
    border-style: none;
    &::after {
      content: "";
      position: absolute;
      top: 100%;
      left: 50%;
      margin-left: -10px;
      border-width: 10px;
      border-style: solid;
      border-color: $bodyBg transparent transparent transparent;
    }
  }
}
