// Colors
$bodyBg: #121725;

$uiColor: #54e6af;
$whiteColor: hsl(0, 0%, 100%);
$darkColor: #121725;
$uiBgColor: #2c344b;
$uiTextColor: #5a668a;
$textColor: #c2cbe5;

//Attribution
$attr_text-color: hsl(248, 32%, 49%);
$attr_grifano-color: #fff;
$attr_span: hsl(249, 10%, 26%);

// Typeface
@import url("https://fonts.googleapis.com/css2?family=Chivo:wght@300;400;700&display=swap");
$fontFamily: "Chivo", sans-serif;
$mainFontSize: 18px;
@mixin bodyText {
  font-size: 18px;
  line-height: 28px;
}
@mixin uiText {
  font-size: 14px;
  line-height: 28px;
}
